* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat';
}

.App {
    width: 500px;

}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.post-enter {
    opacity: 0;
  }

.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.page__wrapper {
   margin-top: 30px;
   display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 8px;
}

.page__current {
    border: 2px solid rgb(54, 86, 74);
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: rgb(218, 218, 218);
    justify-content: flex-end;
}

.navbar__links {
    margin-left: 7px;
}

.navbar__links a {
    text-decoration: none;
    color: black;
}


.post__btns {
    display: flex;
    
}